
<nav class="navheader-header"> 

	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#what-it-is">WHAT IS IT</a></li>
	  <li role="presentation" class="active"><a href="#benefits">WHY USE IT</a></li>
	  <li role="presentation" class="active"><a href="#how-it-works">HOW IT WORKS</a></li>
	  <li role="presentation" class="active"><a href="/posts">BLOG</a></li>
	</ul>


</nav>

	

<section class="welcome">
<div class="container-fluid">
<div class="text-center">
<div class="jumbotron">
	<h1>Congrats!</h1>
	<h4> <b><%= @email.upcase %></b>, you have been invited to join our beta testing.</h4><%= link_to "Click Here to Create a Profile", new_user_path %>
</div>
</div>
</div>
</section>


	

	<section id="what-it-is" class="intro text-center">
		<h3>WHAT IS HACKLAUNCH?</h3>
			<div>
				<p>Have a difficult time optimizing your retail space? Hacklaunch will help you merchandise a simple and easy flow, ensuring you always have product on shelf in the right places at the right time.</p>
			</div>
	</section>


	<section id="benefits" class="services"> 
		<div class="text-center">
			<h3>WHY USE HACKLAUNCH?</h3>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<%= image_tag("cart.png", :alt => "cart") %>
				<h2>Improve Shopability</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quibusdam animi eum illum enim accusamus dicta officia est dolorum ea quia, omnis facere nihil, magnam quis error nisi tempora eos.</p>
			</div>
			<div class="col-md-4 text-center">
				<%= image_tag("clipboard.png", :alt => "clip icon") %>
				<h2>Maintain Consistency</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quibusdam animi eum illum enim accusamus dicta officia est dolorum ea quia, omnis facere nihil, magnam quis error nisi tempora eos.</p>
			</div>
			<div class="col-md-4 text-center">
				<%= image_tag("sales.png", :alt => "sales") %>
				<h2>Grow Your Sales</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quibusdam animi eum illum enim accusamus dicta officia est dolorum ea quia, omnis facere nihil, magnam quis error nisi tempora eos.</p>
			</div>	
		</div>
	</section>


	<section id="how-it-works" class="steps"> 
		<div class="text-center">
			<h3>HOW TO USE HACKLAUNCH?</h3>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<h2>Step 1</h2>
				<%= image_tag("laptop.png", :alt => "laptop icon") %>
				<h4>Upload Your Product Library</h4>
					<p>Don't have a product library yet? No problem! We'll help you get started.</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>Step 2</h2>
				<%= image_tag("map.png", :alt => "map") %>
				<h4>Map Out Your Store</h4>
					<p>Layout your shelves, racks, and tables to design your plannogram to your requirements.</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>Step 3</h2>
				<%= image_tag("thumb.png", :alt => "thumb") %>
				<h4>Merchandise Like A Pro</h4>
					<p>Begin merchandising the smart way.</p>
			</div>	
		</div>
	</section>


	<footer class="end text-center">
		Copyright 2015 Hacklaunch
	</footer>
