<div class="sheret">
<div class='container'>
	<div class='create_post'>
	<%= form_for @post do |f| %>
		<div>
			<div> 
				<%= f.label :title, "Title"%>
				<%= f.text_field :title %>
				<%= f.label :content %>
				<%= f.text_field :content %>
				<%= f.label :author %>
				<%= f.text_field :author %>
				<%= f.label :category %>
				<%= f.text_field :category %>
			</div>

			<%= f.submit %>
		</div>
	<% end %>
	</div>
</div>
